body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  animation: fadeIn 1.5s ease-in-out;
  background-color: #000000;
  background-image: url(./assets/background.png);
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  z-index: 1;
  color: rgb(240, 240, 240);
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 50px;
}
h1 {
  padding: 150px;
  text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 4rem;
}
/* ponto */
h1::before {
  content: ".";
  position: absolute;
  right: 7.3rem;
  animation: blink 1.5s infinite;
  font-size: 2.7rem;
  margin: 21px;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
a {
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  bottom: 180px;
}
p {
  margin: 11px;
}
img {
  padding: 30px;
  width: 40px;
  height: auto;
  border-radius: 50;
  border: 5px;
  transition: transform 0.5s ease;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.imagem {
  margin: -560px;
}
main a:hover {
  color: rgb(141, 141, 141);
}
