<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  animation: fadeIn 1.5s ease-in-out;
  overflow: hidden;
  background-color: #290d0d;
  background-image: url(./assets/background.png);
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  z-index: 1; /* Certifica que o texto fica sobre o vídeo */
  color: rgb(240, 240, 240);
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 50px;
  align-items: center;
}
h1 {
  padding: 150px;
  text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative; /* Necessário para alinhar o pseudo-elemento */
  display: inline-block; /* Garante alinhamento inline */
  font-size: 4rem; /* Tamanho do título */
}
/* Adiciona o ponto piscante antes do texto Wishlist */
h1::before {
  content: "."; /* Ponto adicionado */
  position: absolute;
  right: 7.3rem; /* Define a posição antes do texto */
  animation: blink 1.5s infinite; /* Aplica a animação */
  font-size: 2.7rem; /* Tamanho do título */
  margin: 21px;
}
/* Animação para piscar */
@keyframes blink {
  0%,
  50% {
    opacity: 1; /* Ponto visível */
  }
  50.01%,
  100% {
    opacity: 0; /* Ponto invisível */
  }
}
a {
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  bottom: 180px;
}
p {
  margin: 11px;
}
img {
  padding: 30px;
  width: 40px;
  height: auto;
  border-radius: 50;
  border: 5px;
  transition: transform 0.5s ease;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.imagem {
  margin: -560px;
}
main a:hover {
  color: rgb(141, 141, 141);
}
=======
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  animation: fadeIn 1.5s ease-in-out;
  overflow: hidden;
  background-color: #290d0d;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  z-index: 1; /* Certifica que o texto fica sobre o vídeo */
  color: rgb(240, 240, 240);
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 50px;
  align-items: center;
}
h1 {
  padding: 150px;
  text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative; /* Necessário para alinhar o pseudo-elemento */
  display: inline-block; /* Garante alinhamento inline */
  font-size: 4rem; /* Tamanho do título */
}
/* Adiciona o ponto piscante antes do texto Wishlist */
h1::before {
  content: "."; /* Ponto adicionado */
  position: absolute;
  right: 7.3rem; /* Define a posição antes do texto */
  animation: blink 1.5s infinite; /* Aplica a animação */
  font-size: 2.7rem; /* Tamanho do título */
  margin: 21px;
}
/* Animação para piscar */
@keyframes blink {
  0%,
  50% {
    opacity: 1; /* Ponto visível */
  }
  50.01%,
  100% {
    opacity: 0; /* Ponto invisível */
  }
}
a {
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative;
  bottom: 180px;
}
p {
  margin: 11px;
}
img {
  padding: 30px;
  width: 40px;
  height: auto;
  border-radius: 50;
  border: 5px;
  transition: transform 0.5s ease;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.imagem {
  margin: -560px;
}
main a:hover {
  color: rgb(141, 141, 141);
}
>>>>>>> cd9dc9df0841e605ffee7d34fe5133d1b40c4e02
